.character-details {
  align-items: stretch;
  margin: 0.5em;
  padding: 0.5em 2em;
  text-align: left;
}

h2,
h3,
h4 {
  margin: 1em 0 0.2em;
  padding: 0;
}

.close-button {
  margin: 1em 0;
  padding: 0.2em;
  float: right;
  cursor: pointer;
}
.close-button::after {
  content: '╳';
}
