.character-card {
  margin: 0.5em;
  padding: 0.5em 2em;
  text-align: left;
  align-items: top;
}

.selection-checkbox {
  align-self: top;
  margin: 1.5em;
  margin-left: 0em;
  height: 1em;
  transform: scale(1, 1);
  -webkit-transform: scale(2.5, 2.5) translate(-0.1em);
}

h3.character-name {
  margin: 0;
}
