.character-card {
  background-color: #1a1a1a;
  margin: 0.5em;
  padding: 0.5em 2em;
  text-align: left;
  border-radius: 8px;
}

h3 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  .character-card {
    background-color: #f9f9f9;
  }
}
